<h2>Edit this post:</h2>

<form action="/entries/<%= @entry.id %>" method="post">
	<input type="hidden" name="_method" value="patch">

	<p>
		TITLE:
		<input class="title" name="entry[title]" value="<%= @entry.title %>" />
	</p>
	<p>
		POST:
		<textarea id="data" rows="30" cols="70" input class="entrypost" name="entry[post]"><%= @entry.post %></textarea>
	</p>

	<div class="myButton">
		<input type="submit" value="E D I T !">
	</div>


</form>