<center>
	<h2>New Entry:</h2>

	<form action="/entries" method="post">
		<p>
			TITLE:
			<input class="title" name="entry[title]" placeholder="T I T L E" />
		</p>
		<p>
			POST:
			<p>
				<textarea id="data" rows="30" cols="70" name="entry[post]" placeholder="W R I T E  A W A Y..."></textarea>
			</p>
		</p>
		<p>
			DATE:
			<input type="date" name="entry[date_posted]" placeholder="YYYY-MM-DD">
		</p>
		<div class="myButton">
			<input type="submit" value="P O S T !">
		</div>
	</form>

</center>