body {
  background-repeat: fixed;
	background-size: cover;
  background: url("http://www.clker.com/cliparts/k/A/P/3/4/W/black-pig-md.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: 70px;
	color: black;
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  margin: 0 auto;
  font-weight: 300px;
}

h1 {
  font-size: 6em;
  font-weight: 80px;
  font-family: 'Playfair Display', serif;
}

h3 {
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px #484848;
}

h5 {
  font-size: 12px;
}

.avatar {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

div.myButton input {
  cursor:pointer;
  width: 135px;
  height: 45px;
  border: none;
}

.container .miniuser{
	width: 680px;
	margin: auto;
	clear: both;
	display: block;
	word-wrap: break-word;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

input[type="text"]{
	font-family: calibri;
	font-size: 15px;
	color: black;
}

input[type="password"]{
	font-family: calibri;
	font-size: 15px;
	color: black;
}

.title {
	display: block;
	width: 500px;
	height: 30px;
}

.entrypost {
	display: block;
	width: 500px;
	height: 300px;
	word-wrap: break-word;

}

a {
	text-decoration: none;
	color: black;
  transition: 0.3s;
}


a:hover {
	color: #F5F5F5;
}

li {
	display: inline;
}

.entry {
	background-color: black;
	height: 500px;
	width: 600px;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1em;
  padding-bottom: 28px;
  background-color: lightgray;
}

.nav-bar li {
  margin: 5px 10px 5px 10px;
}

.nav-bar form {
  display: inline-block;
}

.nav-bar input {
  font-size: 20px;
  border: none;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  background-color: lightgray;
  font-size: 16px;
  padding-top: 15px;
  transition: 0.3s;
}

.nav-bar input:hover {
  color: #F5F5F5; 
}

.new-entry {
  padding-bottom: 80px;
}
