body {
	background: url('http://4.bp.blogspot.com/-C6PdqXB9VwE/UKuLK3lMciI/AAAAAAAACUk/qODYHTdtSPQ/s640/Vassilis+Tangoulis.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
}