<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Farmers Market</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<script src='javascripts/jquery.js'></script>
	<script src='javascripts/scripts.js'></script>
</head>
<body>
	
	<% if session[:current_user] %>
		<form action="/sessions" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Log-Out">
		</form>

		<form action="/profiles">
			<input type="submit" value="Profile">
		</form>
	<% else %>
		<ul>
			<li><a href="/users/new">JOIN</a></li>
			<li><a href="/sessions/new">LOG IN</a></li>
		<% end %>
		</ul>
	

	


	<%= yield %>

</body>
</html>