<center><h1>B L O G H O G</h1></center>

<div class='miniuser-list'>
	<% @entries.each do |entry| %>
		<div class='miniuser'>
			<p class='username'>
				<%= entry.title.upcase %>
				<br>
				<%= entry.post %>
				<br>
				<%= entry.date_posted %>
				<br>
			</p>
		</div>
	<% end %>
</div>