<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<script src='javascript/jquery.js'></script>
	<script src='javascript/script.js'></script>
	<title>BLOGHOG</title>
</head>
<body>
	<center>
			<div class="nav-bar">

				<% if session[:current_user] %>

					<form action="/sessions" method="post">
						<input type="hidden" name="_method" value="delete">
						<input type="submit" value="SIGN OUT">
					</form>
					<form action="/profiles">
						<input type="submit" value="PROFILE">
					</form>
					<form action="/entries" method="get">
						<input type="submit" value="VIEW POSTS">
					</form>
					<form action="/entries/new" method="get">
						<input type="submit" value="CREATE A POST">
					</form>

				<% else %>

					<ul>
						<li class="active"><a href="/"><span>HOME</span></a></li>
						<li><a href="/users/new"><span>JOIN BLOGHOG</span></a></li>
						<li class="last"><a href="/sessions/new"><span>LOG IN</span></a></li>
					</ul>

				<% end %>

			</div>
		<h1><a href="/">B L O G H O G</a></h1>
		<!-- <img src="http://www.clker.com/cliparts/k/A/P/3/4/W/black-pig-md.png"> -->
	</center>

	<%= yield %>

</body>
</html>