<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BLOGHOG</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<script src='javascript/jquery.js'></script>
	<script src='javascript/script.js'></script>
</head>
<body>
	<center><h1><a href="/">B L O G H O G</a></h1>
	<div id='cssmenu'>
	<% if session[:current_user] %>

		<form action="/sessions" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="SIGN OUT">
		</form>
		<form action="/profiles">
			<input type="submit" value="Profile">
		</form>
		<form action="/entries" method="get">
			<input type="submit" value="View posts">
		</form>
		<form action="/entries/new" method="get">
			<input type="submit" value="Create a post">
		</form>
	<% else %>
		<ul>
			<li class="active"><a href="/"><span>HOME</span></a></li>
			<li><a href="/users/new"><span>JOIN BLOGHOG</span></a></li>
			<li class="last"><a href="/sessions/new"><span>LOG IN</span></a></li>
		</ul>
	<% end %>

		</div>
</center>

	<%= yield %>

</body>
</html>