<center>
<h3>***YOU ARE NOT AUTHENTICATED***</h3>


<div class='miniuser-list'>
	<% @entries.each do |entry| %>
		<div class='miniuser'>
			<p class='username'>
				<a href="/entries/<%= entry.id %>"><b><%= entry.title.upcase %></b></a>
				<br>
				<%= entry.post %>
				<br>
				<%= entry.date_posted %>
				<br>
			</p>
		</div>
	<% end %>
</div>
</center>