body {
	background: url('http://juliemariepics.files.wordpress.com/2013/08/trestle-nuts-and-bolts.jpg'); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

.miniuser{
	display: inline-block;
	width: 10em;
	height: 10em;
	border: 1px solid white;
	overflow: hidden;
}

.miniuser img{
	float: right;
	width: 7em;
}


a {
	color: lightgrey;
}